body {
  background-color: rgb(122, 86, 42);
}

.row-section {
  display: grid;
  grid-template-rows: 10vw 60vm 30vm;
}
.heading-wrapper {
  font-size: 35px;
  float: left;
}
.container-nav {
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
}
.bg-color {
  color: aliceblue;
}

.list-wrapper li {
  margin-left: 15px;
  float: right;
  display: inline;
  border-right: rgb(7, 7, 7) solid;
  padding-right: 13px;
}
.form-wrapper {
  width: 100vw;
  height: 350px;
  padding-bottom: 20px;
  display: block;
  margin-top: 70px;
  background-color: aliceblue;
}
.form-heading {
  padding-bottom: 15px;
  font-size: 20px;
}
.border-length {
  width: 70%;
  padding-bottom: 14px;
  border-bottom: black solid;
  margin-bottom: 30px;
}
.sign-up-form input {
  margin-left: 20px;
  width: 60%;
  margin-top: 10px;
  display: block;
}

.form-margin {
  margin-left: 10px;
}

.form-wrapper1 {
  margin-left: 20%;
  margin-top: 20px;
}

.button-wrapper button {
  width: 20%;
  color: rgb(207, 207, 200);
  background: rgb(94, 45, 45);
  margin-top: 30px;
  padding-block: 10px;
}

li a {
  text-decoration: none;
  color: azure;
}
